In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.2.3'

In [3]:
df = pd.read_csv("dataset.csv")

In [5]:
df.head(2)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.0
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.0

In [8]:
# record count

num_recs = df.shape[0]
num_recs

2160

In [9]:
# unique brands

df.Brand.nunique()

27

In [16]:
# cols with missing values

print(df.columns[df.isnull().any()])
print(df.isnull().any().sum())

Index(['Storage type', 'GPU', 'Screen'], dtype='object')
3

In [18]:
# max final price of dell

df[df.Brand == 'Dell']['Final Price'].max()

np.float64(3936.0)

In [19]:
df.head(2)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.0
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.0

In [30]:
# na fills

screen_median = df.Screen.median()
screen_most_freq = df.Screen.mode().values[0]
screen_missings = df.Screen.isnull()

print(screen_median)
print(screen_most_freq)
print(screen_missings.sum())

df["Screen"] = df.Screen.fillna(screen_most_freq, inplace=False)

assert df.Screen.isnull().sum() == 0
assert df.Screen.mode().values[0] == screen_most_freq
assert df.Screen.median() == screen_median

15.6
15.6
0

In [44]:
# matrix ops

X = df[df.Brand == "Innjoo"][["RAM", "Storage", "Screen"]].values
X

XTX = np.dot(X.T, X)

XTX_inv = np.linalg.inv(XTX)

y = [1100, 1300, 800, 900, 1000, 1100]

w = np.dot(np.dot(XTX_inv, X.T), y)

print(w)

print(w.sum().round(2))

[45.58076606  0.42783519 45.29127938]
91.3